<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Edit Product - Admin</title>
	<!-- bootstrap cdn -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>

<% if(msg) { %>
	<script>
		window.addEventListener("load", () => {
			const toastTrigger = document.getElementById('liveToastBtn');
			const toastLiveExample = document.getElementById('liveToast');
			if (toastTrigger) {
				toastTrigger.addEventListener('click', () => {
					const toast = new bootstrap.Toast(toastLiveExample)

					toast.show()
				})
			}
			document.getElementById("liveToastBtn").click();
		});
	</script>
<% } %>

</head>
<body>
	 <div class="container">
		<header class="d-flex justify-content-between align-items-center border-bottom">
			<div class="d-flex align-items-center">
				<h1 class="d-inline-block">V88 Merchandise</h1>
				<a class="mx-2" href="/dashboard">Dashboard</a>
				<a href="/users/edit">Profile</a>
			</div>
			<div>
				<a href="/logoff">Log Off</a>
			</div>
		</header>

		<!-- alert toast -->
		<button type="button" class="btn btn-primary d-none" id="liveToastBtn">Show live toast</button>

		<div class="toast-container position-fixed top-0 end-0 p-3">
			<div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true">
				<div class="toast-header">
					<div class="bg-primary mx-2" style="width: 10px; height: 10px;"></div>
					<strong class="me-auto">Message</strong>
					<small>now</small>
					<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
				</div>
				<div class="toast-body <%= msg && msg.status == 400 ? "bg-danger" : "bg-success" %> text-light">
					<%= msg ? msg.msg : "default" %>
				</div>
			</div>
		</div>
		<!-- end of alert toast -->

		<div class="d-flex justify-content-between align-items-center">
			<h2 class="my-4">Edit product <%= id %></h2>
			<a href="/dashboard/admin" class="btn btn-primary">Return to dashboard</a>
		</div>

		<form action="/product/process_edit" method="POST" class="col-sm-12 col-md-6">
			<input type="hidden" name="product_id" value="<%= id %>">
			<div class="mb-3">
				<label for="exampleInput1" class="form-label">Product name:</label>
				<input type="text" name="product_name" class="form-control" id="exampleInput1" value="<%= product.product_name %>">
			</div>
			<div class="mb-3">
				<label for="exampleInput2" class="form-label">Description:</label>
				<textarea name="description" class="form-control" id="exampleInput2"><%= product.description %></textarea>
			</div>
			<div class="mb-3">
				<label for="exampleInput3" class="form-label">Price:</label>
				<input type="text" name="price" class="form-control" id="exampleInput3" value="<%= product.price %>">
			</div>
			<div class="mb-3">
				<label for="exampleInput4" class="form-label">Inventory count:</label>
				<input type="number" name="inventory_count" class="form-control" id="exampleInput4" value="<%= product.inventory_count%>">
			</div>
			<input type="submit" value="Save" class="btn btn-success">
		</form>
	
	</div>
</body>
</html>