<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Product Information</title>
	<!-- bootstrap cdn -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>

<% if(msg) { %>
	<script>
		window.addEventListener("load", () => {
			const toastTrigger = document.getElementById('liveToastBtn');
			const toastLiveExample = document.getElementById('liveToast');
			if (toastTrigger) {
				toastTrigger.addEventListener('click', () => {
					const toast = new bootstrap.Toast(toastLiveExample)

					toast.show()
				})
			}
			document.getElementById("liveToastBtn").click();
		});
	</script>
<% } %>


</head>
<body>
	<div class="container">

		<header class="d-flex justify-content-between align-items-center border-bottom">
			<div class="d-flex align-items-center">
				<h1 class="d-inline-block">V88 Merchandise</h1>
				<a class="mx-2" href="/dashboard">Dashboard</a>
				<a href="/users/edit">Profile</a>
			</div>
			<div>
				<a href="/logoff">Log Off</a>
			</div>
		</header>

		<!-- alert toast -->
		<button type="button" class="btn btn-primary d-none" id="liveToastBtn">Show live toast</button>

		<div class="toast-container position-fixed top-0 end-0 p-3">
			<div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true">
				<div class="toast-header">
					<div class="bg-primary mx-2" style="width: 10px; height: 10px;"></div>
					<strong class="me-auto">Message</strong>
					<small>now</small>
					<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
				</div>
				<div class="toast-body <%= msg && msg.status == 400 ? "bg-danger" : "bg-success" %> text-light">
					<%= msg ? msg.msg : "default" %>
				</div>
			</div>
		</div>
		<!-- end of alert toast -->

		<h2 class="my-4"><%= product.product_name %></h2>
		<p>Added since: <span class="text-muted"><%= date %></span></p>
		<p>Description: <span class="text-muted"><%= product.description %></span> </p>
		<p>Total Sold: <span class="text-muted"><%= product.quantity_sold %></span> </p>
		<p>Number of available stocks: <span class="text-muted"><%= product.inventory_count %></span></p>
		
		<h3>Leave a Review</h3>
		<form action="/reviews/leave_review" method="POST">
			<input type="hidden" name="product_user_id" value="<%= ids[0] %>">
			<input type="hidden" name="product_id" value="<%= ids[1] %>">
			<textarea name="review" class="form-control"></textarea>
			<input type="submit" value="Post" class="btn btn-success my-2">
		</form>
<% if(product.reviews) { %>
	<% for(let review_key=0; review_key<product.reviews.length; review_key++) { %>
		<p class="fw-bold">
			<%= product.reviews[review_key].name %> wrote:
			<span class="text-muted fs-6"><%= product.reviews[review_key].created_at %></span>
		</p>
		<p class="ms-2"><%= product.reviews[review_key].comment %></p>
		<div class="ms-4">
		<% if(product.reviews[review_key].replies) { %>
			<% for(let reply_key=0; reply_key<product.reviews[review_key].replies.length; reply_key++) { %>
			<div>
				<p class="fw-bold">
					<%= product.reviews[review_key].replies[reply_key].name %> wrote:
					<span class="text-muted fs-6"><%= product.reviews[review_key].replies[reply_key].created_at.split("T")[0] %></span>
				</p>
				<p class="ms-2"><%= product.reviews[review_key].replies[reply_key].reply %></p>
			</div>
			<% } %>
		<% } %>
			<form action="/reviews/leave_reply" method="POST">
				<input type="hidden" name="review_id" value="<%=  review_key %>">
				<input type="hidden" name="product_user_id" value="<%= ids[0] %>">
				<input type="hidden" name="product_id" value="<%= ids[1] %>">
				<textarea name="reply" placeholder="write a message" class="form-control"></textarea>
				<input type="submit" value="Reply" class="btn btn-success align-self-end my-2">
			</form>
		</div>
	<% } %>
<% } %>

	</div>
</body>
</html>